.product{
    width: 300px;
    height: 520px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 8px;
}
.product-info, .card-bnt{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    padding-left: 14px;
}
.product-info h3, p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-info h5{
    margin-top: 7px;
    margin-bottom: 14px;
}
.card-bnt{
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.card-bnt:hover{
    background: orange;
}